@import "./Bootstrap.scss";
@import "./MaterialSymbols.scss";

:root {
  box-sizing: border-box;
  color: var(--bs-color-700);
  font-family: 'Noto Sans TC', sans-serif;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  width: 100vw;
  min-height: 100vh;
  background-color: var(--bs-light);
}

[data-bs-theme="dark"] {
  :root {
    color: var(--bs-color-300);
  }

  body {
    background-color: var(--bs-dark);
  }
}